<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reading List</title>
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>
        <h2>Your Reading List</h2>
        <div th:unless="${#lists.isEmpty(books)}">
            <dl th:each="book : ${books}">
                <dt class="bookHeadline">
                    <span th:text="${book.name}">Title</span>
                    <span th:text="${book.author}">Author</span>
                </dt>
            </dl>
        </div>
        <div th:if="${#lists.isEmpty(books)}">
            <p>You have no books in your book list</p>
        </div>

    <hr/>

    <h3>Add a book</h3>
        <form method="POST">
            <label for="name">Title:</label>
            <input type="text" name="name" size="50"/><br/>
            <label for="author">Author:</label>
            <input type="text" name="author" size="50"/><br/>
            <input type="submit"/>
        </form>
    </body>
</html>